.type-1143 {
  background: #4caf50;
}
.type-1143 .nav-pills>li>a {
  border-radius: 4px;
  color: #000;
  font-size: 14px;
}
.type-1143 .main_item > a:hover {
  border-bottom: 4px solid #ff9931;
  background: none;
  color: #ff9931;
  border-radius: 0;
}
.type-1143 .page-title .title_left {
  width: 45%;
  float: left;
  display: block;
}
.type-1143 .page-title h3 {
  color: #73879C;
}
.type-1143 .page-title h3 a {
  text-decoration: none;
}
.type-1143 .page-title .title_right {
  width: 50%;
  float: left;
  display: block;
}
.type-1143 .page-title .pull-right {
  margin: 20px 0 0 0;
}
.type-1143 .page-title .input-group {
  margin-bottom: 10px;
}
.type-1143 .page-title .form-control {
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  border: 1px solid rgba(221,226,232,0.49);
}
.type-1143 .page-title .input-group-btn button {
  border-radius: 0 25px 25px 0;
  border: 1px solid rgba(221,226,232,0.49);
  border-left: 0;
  color: #93A2B2;
}
.mobile-container {
  display: none;
  margin: auto;
  background-color: #555;
  position: relative;
  top: -90px;
  color: white;
  border-radius: 10px;
}
.topnav {
  padding: 10px;
  overflow: hidden;
  background-color: #4caf50;
  position: relative;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  top: 20px;
  margin-left: 10%;
  color: #73879C;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  position: relative;
}
.topnav a.icon {
  background: #c5c5c5;
  display: block;
  position: absolute;
  right: 0;
}
.active {
  background-color: #4caf50;
  color: white;
}
@media screen and (max-width: 960px) {
  .mobile-container {
    display: block;
  }
  .topnav a.icon {
    top: 50px;
    background: #c5c5c5;
    display: block;
    position: absolute;
    right: 0;
  }
  .type-1143 .page-title .input-group-btn button {
    top: 13px;
    border-radius: 0 25px 25px 0;
    border: 1px solid rgba(221,226,232,0.49);
    border-left: 0;
    color: #93A2B2;
  }
  .type-1143 .page-title .form-control {
    top: 13px;
    border-radius: 25px 0 0 25px;
    padding-left: 20px;
    border: 1px solid rgba(221,226,232,0.49);
  }
}
@media screen and (max-width: 560px) {
  .type-1143 .page-title .input-group-btn button {
    top: 15px;
    border-radius: 0 25px 25px 0;
    border: 1px solid rgba(221,226,232,0.49);
    border-left: 0;
    color: #93A2B2;
  }
  .type-1143 .page-title .form-control {
    top: 15px;
    border-radius: 25px 0 0 25px;
    padding-left: 20px;
    border: 1px solid rgba(221,226,232,0.49);
  }
}
